doctype html
html
  head
    title webapp-playground
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
  body
    div(ng-view) Loading
    noscript This page requires JavaScript. Please enable JavaScript in your browser.
    script(src="loader.js")
