doctype html
html
  head
    title webapp-playground
    link(rel="stylesheet" href="/styles.css")
  body
    div(ng-view) Loading
    noscript This page requires JavaScript. Please enable JavaScript in your browser.
    script.
      // inject:loaders
      // inject:end
